<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Review University
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <div class="logo"><a routerLink="/uni" class="simple-text logo-normal">
          ADMIN
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" routerLink="/uni">
              <i class="material-icons">school</i>
              <p>University</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/user">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/fac">
              <i class="material-icons">list</i>
              <p>Facculty</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/review">
              <i class="material-icons">content_paste</i>
              <p>Review</p>
            </a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" routerLink="/rate">
              <i class="material-icons">stars</i>
              <p>Rate</p>
            </a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" routerLink="/cate">
              <i class="material-icons">category</i>
              <p>Cate</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav style="padding-top: 0%;" class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <input id="check01" type="checkbox" name="menu">
                <label style="padding-top:20px" for="check01"><i style="font-size: 30px;" class="material-icons">person</i></label>
                <ul class="dropdown-content">
                  <li ><a (click)="Logout()">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div style="margin-top:70px; background-color: rgb(238, 238, 238);">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>
</html>
