
<div class="table">
    <button class="btn-add" routerLink="/add-user"> Add User</button>
    <h1>List User</h1>
    <table class="table">
      <thead>
      <tr>

        <th>Email</th>
        <th>Name</th>
        <!-- <th>Avatar</th> -->
        <th>Role</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let user of listUser | paginate: { itemsPerPage: 5, currentPage: page }">
      <!-- <tr *ngFor="let user of listUser"> -->

        <td>{{user.email}}</td>
        <td>{{user.name}}</td>
        <!-- <td style="width: 10%;">
          <img style="display: block; margin-left: auto; margin-right: auto; width: 40%; height: auto;" src="{{user.avatar.thumbnail}}">
        </td> -->
        <td>{{user.role}}</td>
        <td><button class="btn btn-delete" (click) = "deleteUser(user)" > Delete</button></td>
        <td><button class="btn btn-edit" [routerLink]="['/edit-user', user._id]">Edit</button></td>
    </tr>

      </tbody>
    </table>

    <pagination-controls (pageChange)="page = $event"></pagination-controls>

  </div>


