.table{
    width: 100%;
    text-align: center;

    padding-bottom: 30px;
}
table.table tr:nth-child(even) {
    background-color: #fff;
}
table.table tr:nth-child(odd) {
    background-color: #fff;
}
.btn-edit{
  width: 70%;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-delete{
  width: 70%;

  background-color: rgb(218, 25, 19);
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none; background-color: rgb(218, 25, 19);
  border-radius: 4px;
  cursor: pointer;
  }

.btn-delete:hover{
    background-color:rgb(185, 27, 21);
}

.btn-edit:hover{
    background-color: #45a049;
}
.btn-add{
  width: 100px;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-add:hover{
    background-color: #45a049;

}
