<div style="margin: auto; width:50%; background-color: #eee; ">
  <h1 style="text-align: center;">Edit Rate</h1>

      <form action="" [formGroup] = "editRateForm" (ngSubmit) = "onEditRate()">

        <label for="mscore">Quality Score</label>
        <input type="number" id="sscore" formControlName="scoreQuality" pattern = '[0-9][.]' value="number" placeholder="Your quality score..">

        <label for="mscore">Material Score</label>
        <input type="number" id="mscore" formControlName="scoreMaterial" pattern = '[0-9][.]' placeholder="Your material score..">

        <label for="wscore">Work Score</label>
        <input type="number" id="wscore" formControlName="scoreTeaching" pattern = '[0-9][.]' placeholder="Your work score..">

        <label for="tscore">Teach Score</label>
        <input type="number" id="tscore" formControlName="scoreWork"  pattern = '[0-9][.]' placeholder="Your teach score..">

        <button class="btn btn-add" type="submit" >Submit</button>
        <button class="btn btn-delete" type="submit" routerLink="/rate">Cancel</button>

      </form>
    </div>
