<div class="table">
    <button class="btn-add" routerLink="/add-rate"> Add Rate</button>
    <h1>LIST RATE</h1>
    <table class="table">
      <thead>
      <tr>
        <th>Name University</th>
        <th>Author</th>
        <th>Quakity Score</th>
        <th>Material Score</th>
        <th>Work Score</th>
        <th>Teach Score</th>
        <th>Average</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rate of listRate | paginate: { itemsPerPage: 5, currentPage: page }">
        <td>{{rate.univerId.name}}</td>
        <td>{{rate.author.name}}</td>
        <td>{{rate.scoreQuality}}</td>
        <td>{{rate.scoreMaterial}}</td>
        <td>{{rate.scoreWork}}</td>
        <td>{{rate.scoreTeaching}}</td>
        <td>{{rate.average}}</td>
        <td><button class="btn-delete" (click)= "onDelete(rate)" style="width: 100%;" > Delete</button></td>
        <td><button class="btn-edit" [routerLink]="['/edit-rate', rate._id]" style="width: 100%;" > Edit</button></td>
      </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
