



 <div>
  <h1 style="text-align: center;">Edit Review</h1>
  <form action="" [formGroup] = "editReviewForm" (ngSubmit) = "onEditReview()" >

    <label>Image</label> <br>
    <input multiple="multiple" type="file"  (change)="uploadFile($event)"> <br>

    <label for="content">Content</label>
    <textarea rows="7" cols="74" placeholder="Content ... " formControlName="content" ></textarea>

    <label for="uname">University</label>
    <select style="height: 40px;;" id="uname" formControlName = "idUniver">
      <option *ngFor="let univerId of listUni" value="{{univerId._id}}">{{univerId.name}}</option>
    </select>


    <button class="btn btn-add" type="submit" >Submit</button>
    <button class="btn btn-delete" type="submit" routerLink="/review">Cancel</button>
  </form>
</div>




