<!-- <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
  <label>
    Email: 
    <input type="text" formControlName = "email">
  </label>
  <label>
    Password: 
    <input type="text" formControlName = "password">
  </label>
  <button type="submit" routerLink="/home"> Submit </button>
</form> -->
<!DOCTYPE HTML>
<html lang="en">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <meta name="keywords" content="Online Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" /> -->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<!-- //css files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>
<div class="center-container">
<div class="main-content-agile">
  <div class="sub-main-w3">	
    <div class="wthree-pro">
      <h2>Welcome Admin</h2>
    </div>
    <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
      <div class="pom-agile">
        <input placeholder="E-mail" formControlName="email" class="user" type="email" ng-model="email" autocomplete="off" required>
        <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>     
      </div>  
      <div class="pom-agile">
        <input  placeholder="Password" formControlName="password" class="pass" type="password" ng-model="password" autocomplete="off" required>
        <span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
      </div>
      <div class="sub-w3l">
        <div class="right-w3l">
          <button type="submit">login</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</body>
</html>
