<div>
    <h1 style="text-align: center;">Edit University</h1>
    <form [formGroup] = "form" (ngSubmit)="onSubmit()">
        <label>Name University</label>
        <input type="text" formControlName ="name" placeholder="Name University">

        <label>Address</label>
        <!-- <input type="text" formControlName ="address" placeholder="Address"> -->
        <select id="name" formControlName = "address">
          <option *ngFor="let item of items">{{item.Title}}</option>
        </select>

        <label>Logo</label> <br>
        <input type="file"  (change)="uploadFile($event)"> <br>

        <label>Category</label>
        <select id="idCate" formControlName = "cate">
          <option *ngFor="let lcate of listCate" value="{{lcate._id}}">{{lcate.name}}</option>
        </select>
        <button class="btn btn-edit" type="submit">Submit</button>
        <button class="btn btn-delete" type="submit" routerLink="/uni">Cancel</button>
    </form>
    </div>
