
<div class="table">
  <button class="btn-add" routerLink="/add-uni"> Add University</button>
  <h1>LIST UNIVERSITY</h1>
  <table class="table">

    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>cate</th>
      <th>logo</th>
      <th>delete</th>
      <th>edit</th>
    </tr>


      <tr *ngFor="let uni of listUni | paginate: { itemsPerPage: 7, currentPage: page }">
        <td  width="25%">{{uni.name}}</td>
        <td>{{uni.address}}</td>
        <td>{{uni.cate.name}}</td>
        <td style="width: 10%;">
          <img style="display: block; margin-left: auto; margin-right: auto; width: 40%; height: auto;" src="{{uni.logo.thumbnail}}">
        </td>
        <td><button (click)="deleteUni(uni)" class="btn btn-delete" > Delete</button></td>
        <td><button class="btn btn-edit" [routerLink]="['/edit-uni', uni._id]">Edit</button></td>
    </tr>

  </table>

  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

