input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.lgo {
  padding-bottom: 20px;
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  width:50%;
  background-color: #eee;
}

.btn-add{
  width: 15%;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-delete{
    width: 15%;

    background-color: rgb(218, 25, 19);
    color: white;
    padding: 10px;
    margin: 8px 10px;
    border: none; background-color: rgb(218, 25, 19);
    border-radius: 4px;
    cursor: pointer;
  }

.btn-delete:hover{
    background-color:rgb(185, 27, 21);
}

.btn-add:hover{
    background-color: #45a049;
}
