
<div class="table">
  <button class="btn-add" routerLink="/add-review"> Add Review</button>
  <h1>List Review</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Name University</th>
      <th>Content</th>
      <th>List Image</th>
      <th>View</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let review of listReview | paginate: { itemsPerPage: 3, currentPage: page }" >
      <td width="20%">{{review.univer.name}}</td>
      <td width="30%">{{review.content}}</td>
      <td width="25%">
        <tr >
          <td *ngFor="let img of review.images">
            <img width="60"  height="60"  src="{{img.thumbnail}}">
          </td>
        </tr>
      </td>
      <td>{{review.views}}</td>
      <td><button class="btn btn-delete" (click) = "deleteReview(review)" > Delete</button></td>
      <td><button class="btn btn-edit" [routerLink]="['/edit-review', review._id]" >Edit</button></td>
  </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="page = $event"></pagination-controls>

</div>
