<div>
    <h1 style="text-align: center;">Edit Facculty</h1>
    <form [formGroup] = "editFac" (ngSubmit)="onSubmit()">
      <label> Name Facculty: </label>
      <input type="text"  id="name" name="name"  formControlName = "name" placeholder="Name Facculty...">

      <label> BenchMark: </label>
      <input type="text" id="benchmarking" name="benchmarking" formControlName = "benchmarking"  placeholder="BenchMark..">

      <label for="idUniver">University</label>

      <select id="idUniver" name="idUniver" formControlName = "idUniver" >
        <option *ngFor="let luni of listUni" value="{{luni._id}}">{{luni.name}}</option>

      </select>

      <button class="btn btn-add" type="submit">Submit</button>
      <button class="btn btn-delete" type="submit" routerLink="/fac">Cancel</button>
    </form>
  </div>
