<div>
  <h1 style="text-align: center;">Add Cate</h1>
  <form [formGroup] = "addCate" (ngSubmit)="onSubmit()">

    <label> Category University: </label>
    <input type="text"  id="name" name="name"  formControlName = "name" placeholder="Category University..."><br>

    <label>Logo</label> <br>
    <input type="file"  (change)="uploadFile($event)"> <br>

    <button class="btn btn-add" type="submit" >Submit</button>
    <button class="btn btn-delete" type="submit" routerLink="/cate">Back</button>
  </form>

</div>
