
<div class="table">
  <button class="btn-add" routerLink="/add-fac"> Add Faculty</button>
  <h1>LIST FACULTY</h1>
    <table class="table">
      <thead>
      <tr>

        <th>Faculty</th>
        <th>BenchMark</th>
        <th>Univer</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let lfac of listFac | paginate: { itemsPerPage: 5, currentPage: page } ">
            <td>{{lfac.name}}</td>
            <td>{{lfac.benchmarking}}</td>
            <td>{{lfac.idUniver.name}}</td>
            <td><button class="btn btn btn-delete" (click) = "onDelete(lfac)"> Delete</button></td>
            <td><button class=" btn btn-edit" [routerLink]="['/edit-fac', lfac._id]"> Edit</button></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
