<div style="margin: auto; width:50%; background-color: #eee; ">
    <h1 style="text-align: center;">Add Rate</h1>

        <form action="" [formGroup] = "addRateForm" (ngSubmit) = "onAddRate()">

        <label for="uname">University</label>
        <select id="uname" formControlName = "univerId">
          <option *ngFor="let idUniver of listUni" value="{{idUniver._id}}">{{idUniver.name}}</option>
        </select>
        <label for="qscore">Quality Score</label>
        <input type="number" id="qscore" formControlName="scoreQuality"  min="1" max="10" maxlength = "3" placeholder="Your quality score..">

        <label for="mscore">Material Score</label>
        <input type="number" id="mscore" formControlName="scoreMaterial" min="1" max="10" maxlength = "3" placeholder="Your material score..">

        <label for="wscore">Work Score</label>
        <input type="number" id="wscore" formControlName="scoreWork" min="1" max="10" maxlength = "3" placeholder="Your work score..">

        <label for="tscore">Teach Score</label>
        <input type="number" id="tscore" formControlName="scoreTeaching" min="1" max="10" maxlength = "3"  placeholder="Your teach score..">

        <button class="btn btn-add" type="submit" >Submit</button>
        <button class="btn btn-delete" type="submit" routerLink="/rate">Back</button>
        </form>
      </div>
