<div>
  <h1 style="text-align: center;">Add User</h1>

  <form action="" [formGroup] = "addUserForm" (ngSubmit) = "onAddUser()">

    <label for="role">Role</label>
    <select id="role" formControlName="role">
      <option value="admin">Admin</option>
      <option value="user">User</option>
    </select>

    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email" placeholder="Your Email..">

    <label for="username">Name</label>
    <input type="text" id="uname" formControlName="name" placeholder="Your Name..">

    <label>Avatar</label><br>
    <input type='file' (change)="uploadFile($event)"><br>

    <label for="pword">Password</label>
    <input type="password" id="pword" formControlName="password" placeholder="Your Password..">

    <button class="btn btn-add" type="submit" >Submit</button>
    <button class="btn btn-delete" type="submit" routerLink="/user">Back</button>
  </form>

</div>
