
<div class="table">

  <button class="btn-add" routerLink="/add-cate"> Add Category</button>
  <form>
    <input type="text" name="keyword" placeholder="Search..." [(ngModel)]="keyword">
    <button type="submit" class="" (click)="Search()">Search</button>
</form>
  <h1 style="display: flex; justify-content: center;">LIST CATEGORY</h1>
    <table class="table">
      <thead>
      <tr>
        <th>Category</th>
        <th>Logo</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let lcate of listCate  | paginate: { itemsPerPage: 5, currentPage: p }" >
            <td>{{lcate.name}}</td>
            <td style="width: 20%;">
              <img style="display: block; margin-left: auto; margin-right: auto; width: 50%; height: 20%;" src="{{lcate.logo.thumbnail}}">
            </td>
            <td><button class="btn btn-delete" (click) = "onDelete(lcate._id)"> Delete</button></td>
            <td><button class="btn btn-edit" [routerLink]="['/edit-cate', lcate._id]"> Edit</button></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
